@tailwind base;
@tailwind components;
@tailwind utilities;

/* This CSS should be in your global CSS file or a component-specific CSS file */

.shadow-transition {
  box-shadow: 4px 6px 0px 4px #1a202c; /* Initial shadow */
  transition: box-shadow 0.3s ease; /* Transition effect */
}

.shadow-transition:hover {
  box-shadow: none; /* Shadow vanishes on hover */
}

/* This CSS should be in your global CSS file or a component-specific CSS file */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-gradient-animation {
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
  background-size: 200% auto;
  animation: gradientAnimation 10s ease infinite; /* Adjust the duration (10s) as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* This CSS should be in your global CSS file or a component-specific CSS file */

/* Customize scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #a8a7a7; /* Set the color of the thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
}

/* Customize scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8; /* Set the color of the thumb on hover */
  cursor: pointer;
}

/* Customize scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the track */
}
